body {
  margin: 0; }

#view {
  position: relative;
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  box-sizing: border-box;
  margin: 100px;
  outline: 1px dashed black;
  overflow: hidden; }
  #view .mindmap {
    display: flex;
    align-items: center;
    justify-content: center; }
    #view .mindmap .group, #view .mindmap .goal, #view .mindmap .sub {
      box-sizing: border-box; }
    #view .mindmap .group {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px 30px; }
    #view .mindmap .goal {
      border: 1px solid blue;
      text-align: center;
      width: fit-content;
      background-color: white;
      padding: 10px; }
    #view .mindmap .sub {
      display: flex;
      justify-content: space-around; }
  #view .viewcontrol {
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    margin: 0; }

button {
  margin: 2px 0; }
