body {
  // margin: 0;
  
}

.group, .goal, .sub {
  padding: 10px;
  box-sizing: border-box;
}

.group {
  // border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goal {
  border: 1px solid blue;
  text-align: center;
  width: fit-content;
}

.sub {
  display: flex;
  // border: 1px solid red;
  justify-content: space-around;
}

button {
  margin: 2px 0;
}