body {
  margin: 0;
  position: absolute;
}
.view {
 position: relative;
  width: 100vw;//calc(100vw - 200px);
  height: 100vh;//calc(100vh - 200px);
  box-sizing: border-box;
  //margin: 100px;
  outline: 1px dashed black;
  overflow: hidden;
  .mindmap {

    display: flex;
    align-items: center;
    justify-content: center;

    // background-image: url("cheq.png");

    &>.group {
      
    }
   
    .group, .goal, .sub {
      box-sizing: border-box;
    }

    .group {
      // border: 1px solid green;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px 30px;
    }

    .goal {
      border: 1px solid blue;
      text-align: center;
      width: fit-content;
      background-color: white;
      padding: 10px;
    }

    .sub {
      display: flex;
      // border: 1px solid red;
      justify-content: space-around;
    }
  }
  .viewcontrol {
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    margin: 0;
  }

  
}

button {
  margin: 2px 0;
  &::selection {
    color: inherit;
    background: inherit;
  }
}